<div style="text-align: center">
  <!-- <br> -->
  <!-- <span class="intellect-icon-big-contact-pay intellect-text-primary"></span> -->
  <h2>Send money</h2>
</div>
<br>
<div class="container-fluid" *ngIf="!showResults" style="text-align: right">
          <form class="intellect-form" [formGroup]="cbxProfileForm">
              <!-- <section class="form-block"> -->
                <div class="form-group row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2" style="text-align: right">
                    <label for="contactName" class="required">Contact Name</label>
                  </div>
                    <div class="col-lg-4">
                        <ng-select class="dropdown bottom-left open" labelForId="contactName.name" placeholder="Select contact name" [searchable]="true"
                          formControlName="contactName" style="text-align: left">
                          <ng-option *ngFor="let contactName of this.contactNames" [value]="contactName">
                            {{ contactName.name }} - <small>{{ contactName.accNo }}</small>
                          </ng-option>
                        </ng-select>
                      </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    <label for="country" class="required">Destination Country</label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <ng-select labelForId="dataType" placeholder="Select Country" [searchable]="true"
                      formControlName="country" style="text-align: left">
                      <ng-option *ngFor="let country of this.countryList" [value]="country"> {{ country.name }} </ng-option>
                      <!-- <ng-option value="USD">USD</ng-option>
                      <ng-option value="IND">INR</ng-option>
                      <ng-option value="CAD">CAD</ng-option> -->
                    </ng-select>
                  </div>
                  <div class="col-lg-2"></div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    <label for="debtorAccount" class="required">From</label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <ng-select labelForId="dataType" placeholder="Select debit account" [searchable]="true"
                      formControlName="debtorAccount" #debtoraccount style="text-align: left" (change)="onChange($event)">
                      <ng-option *ngFor="let payFromAcc of this.payFromAccs" [value]="payFromAcc">
                        <div class="col-lg-2">{{ payFromAcc.name }} - <small style="text-align: left;">
                            {{ payFromAcc.accNo }} :
                          </small>
                          <small style="text-align: right;">
                            {{ payFromAcc.currency }}
                          </small>
                        </div>
                      </ng-option>
                      </ng-select>
                  </div>
                  <div class="col-lg-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                        <label for="amount" class="required">Instruction Amount</label>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                      <input type="text" formControlName="amount" id="fieldName"
                      placeholder="Enter amount" maxlength="50" style="width: 100%; height: 100%;" (input)="getDebitAmount()">
                    </div>
                    <div class="offset-lg-0.5 col-lg-2 col-md-4 col-sm-12 col-xs-12">
                        <ng-select labelForId="dataType" placeholder="Currency" [searchable]="true"
                          formControlName="currency" style="text-align: left" (change)="getDebitAmount()">
                          <ng-option *ngFor="let currency of this.currencyList" [value]="currency">{{ currency }}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="form-group row" *ngIf="showCrossCurrencyDiv">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    <label for="notionalRate" class="required">Notional Rate</label>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                    <label >
                        {{ notionalRate }}
                    </label>
                  </div>
                </div>

                <div class="form-group row" *ngIf="showCrossCurrencyDiv">
                  <div class="col-lg-2"></div>

                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    <label for="debitAmount" class="required">Debit Amount</label>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                    <label>
                        {{ debitAmount | number: '3.2-3'}} &nbsp; {{ fromCurrencyType }}
                    </label>
                  </div>
                </div>

                <div class="form-group row" style="height: 36px">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    <label for="receiveOnDate" class="required">Date</label>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                    <clr-date-container labelForId="receiveOnDate" style="width: 100%">
                      <input type="date" clrDate formControlName="receiveOnDate" id="receiveOnDate" style="width: 100%">
                    </clr-date-container>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">

                  </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <br>
                      <button class="btn btn-link" style="width: 150px" (click) = "cancelMe()">CANCEL</button>
                      <button class="btn btn-primary" style="width: 150px" (click) = "submitForm1()">CONTINUE</button>
                    </div>
                </div>
              <!-- </section> -->
            </form>
</div>




<div class="modal" *ngIf = "this.isClick">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
              <h3 class="modal-title"></h3>
          </div>
          <div class="modal-body">
              <p style="text-align: center;">  {{this.message}}
                </p>
          </div>
          <div class="modal-footer" >
              <button class="btn btn-primary" type="button" (click)="EditForm1()">Edit Payment</button>
              <button class="btn btn-primary" type="button" (click)="submitForm()">Continue</button>
              <a  routerLink="" (click)="onKnowMore" style="color:blue;"> Know More About OD Facility</a>

          </div>

      </div>
  </div>
</div>



<div *ngIf="showResults">
    <div *ngIf= "!isEmpty;else showMsg">
    <!-- <table class="table"> -->
      <table class="table table-noborder" style="padding-left: 6px; border-bottom: 1px solid darkslategray ;border-top: 1px solid darkslategray" >
      <thead>
        <tr>
          <th class="left"></th>
          <th class="left" width="35%">Options</th>
          <!-- <th class="left" width="10%">Popularity</th> -->
          <th class="left">Speed</th>
          <th class="left">Cost</th>
          <th class="left">Fulfilments</th>
          <th class="left">Elimination</th>
          <th class="left"> </th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngFor="let com of listOfValues; let i=index ">
          <!-- <tr *ngIf="com.eligible=='Y'"> -->
             <tr [ngStyle]="{'background-color': com.eligible == 'Y' ? 'white': com.eligible == 'N' ? 'gainsboro' : ''}">
                      <td class="center" *ngIf="com.eligible=='Y'" style="border-top: 1px solid DarkSlateGrey">
              <input type="radio" clrRadio name="options" required [value]="com" [(ngModel)]="options" checked="com.recommendation === 'Y'"/>
            </td>

            <td *ngIf="com.eligible=='N' " style="border-top: 1px solid DarkSlateGrey">
              <!-- <input type="radio" clrRadio name="options" required [value]="com" [(ngModel)]="options" checked="com.recommendation === 'Y'"/> -->
            </td>

            <td class="left" style="border-top: 1px solid DarkSlateGrey">
              <b>{{com.offeringName}}&nbsp; &nbsp;</b>
              <span *ngIf="com.recommendation == 'Y'"  class="label label-info">Recommended</span>
              <span *ngIf="com.freqUsedTag == 'Y'"  class="label label-info">Frequently Used</span>
              <p  style="font-size: .5rem;">{{com.disclaimer}}
              </p>
            </td>

           <!--  <td class="left">
              <b>{{com.offeringName}}&nbsp;</b>
              <span *ngIf="com.freqUsedTag !== 'null'"  class="label label-info">{{com.freqUsedTag}}</span>
              <p  style="font-size: .5rem;">{{com.freqUsedTag}}
              </p>
            </td> -->


            <!-- Popularity
            <td class="left" style="vertical-align: top; border-top: 1px solid DarkSlateGrey">

                <div *ngFor="let decisionParam of com.decisionParams;">
                <div *ngIf="decisionParam.decisionCode == 'Popularity'">
                <p><span style="font-size: .45rem;">{{decisionParam.scoreDisplay}}</span></p>

                <p *ngFor="let key of this.populateArrayFromValue(decisionParam.iconRating)" style="display: inline;" ><img src="../../assets/thumbsup_green.png" style="width: 18px; height: 18px;"></p>
                <p *ngIf="decisionParam.tag"><span class="label label-info">{{decisionParam.tag ? decisionParam.tag:''}}</span></p>

                </div>
                </div>

            </td> -->

            <!-- Speed -->
            <td class="left" style="vertical-align: top; border-top: 1px solid DarkSlateGrey">

              <div *ngFor="let decisionParam of com.decisionParams;">
              <div *ngIf="decisionParam.decisionCode == 'TIME_VD'">
              <p><span style="font-size: .45rem;">{{decisionParam.scoreDisplay}}</span></p>

              <p *ngFor="let key of this.populateArrayFromValue(this.invertedStarValue[0][i])" style="display: inline;" ><img src="../../assets/rocket-icon.png" style="width: 18px; height: 18px;"></p>
              <p *ngIf="decisionParam.tag"><span class="label label-info">{{decisionParam.tag ? decisionParam.tag:''}}</span></p>

              </div>
              </div>

          </td>

             <!-- Cost -->
            <td class="left" style="vertical-align: top; border-top: 1px solid DarkSlateGrey">
              <div *ngFor="let decisionParam of com.decisionParams;">
              <div *ngIf="decisionParam.decisionCode == 'COST'">

              <p><span style="font-size: .45rem;">{{decisionParam.scoreDisplay}}</span></p>

              <p *ngFor="let key of this.populateArrayFromValue(6-this.invertedStarValue[1][i])" style="display: inline;"><img src="../../assets/coin_icon.png" style="width: 15px; height: 15px;"></p>
              <p *ngIf="decisionParam.tag"><span class="label label-info">{{decisionParam.tag ? decisionParam.tag:''}}</span></p>
              </div>
              </div>

            </td>

            <td class="left" style="border-top: 1px solid DarkSlateGrey">
              <div *ngFor="let fulfil of  com.mandatoryFulfilment?.split(',')">
                <li style="font-size: .45rem;">
                  {{fulfil}}
                </li>
              </div>
            </td>

            <td class="left" style="border-top: 1px solid DarkSlateGrey">
              <div *ngFor="let fulfil of  com.eliminationReason">
                <li style="font-size: .45rem;">
                  {{fulfil.eliminationDescription}}
                </li>
              </div>
            </td>
            <td style="border-top: 1px solid DarkSlateGrey"> </td>
          </tr>
<tr *ngIf="checkDate(com.DV_VD,com.entitlementOnlyError) ">
  <td [ngStyle]="{'background-color': com.eligible == 'Y' ? 'white': com.eligible == 'N' ? 'gainsboro' : ''}"> </td>
  <td [attr.colspan]="5"  style="padding:2px;background-color: tan;">
   <!--  <p style="font-size: .5rem;">NOT Recommended
  </p> -->
  <div style="padding-top: 2px; font-style: italic; color:black">
    {{this.ntRecoMes}}  <a  routerLink="" *ngIf=this.knowMore (click)="onKnowMore" style="color:blue;">Know More </a>
   <!--  <div *ngIf=this.knowMore >
      <a *ngIf=this.knowMore (click)="onKnowMore" style="color:blue;">Know More About</a>
    </div>  -->
</div>
</td>

<td [ngStyle]="{'background-color': com.eligible == 'Y' ? 'white': com.eligible == 'N' ? 'gainsboro' : ''}"> </td>

<tr  *ngIf="checkDate(com.DV_VD,com.entitlementOnlyError) "
 [ngStyle]="{'background-color': com.eligible == 'Y' ? 'white': com.eligible == 'N' ? 'gainsboro' : ''}"
>
  <td [attr.colspan]="7">

  </td>
</tr>

        </ng-container>

      </tbody>
    </table>
    <!-- <div class="accuracyDisplay">
      <p><i>Disclaimer: {{accuracy}} </i></p>
         <tr *ngFor ='let acc of accuracy'>
        <td>{{acc.accuracyDisplay}}</td>
        <td>{{acc.accuracyScore}}</td>
      </tr>

    </div> -->

    <div class="col-lg-12" style="text-align: right">
      <button style="text-align: center" class="btn btn-primary" (click)="getFulfilment($event)">Continue</button>
    </div>

    <div class="text-center">
      <div class="spinner spinner-lg" style="position: fixed;" >Loading...</div>
    </div>

    </div>

  </div>

 <ng-template #showMsg>
  <div>
     <table class="table">
      <thead>
        <tr>
          <th></th>
          <th class="left" width="30%">Options</th>
          <th class="left">Speed</th>
          <th class="left">Cost</th>
          <th class="left">Fulfilments</th>
        </tr>
      </thead>
      <tbody>

            <p>Your transaction cannot be processed. Please subscribe to another product offering to complete the transaction.</p>

      </tbody>
     </table>
     </div>
  </ng-template>
