<!--<p>contextual-payments-fulfillments works!</p>-->
<div class="row">
	<div class="col-lg-4" style="text-align: left">
		<input  type="text"  id="fieldName" [(ngModel)]= "searchKey"
                          placeholder="Enter RefId" maxlength="50">&nbsp;
	<span>
		 <button type="button"   id="remove" (click)="searchByRefId()">
                <clr-icon shape="search"></clr-icon>
                  </button>
				  </span>
	</div>
	<div class="col-lg-6" *ngIf="initTrans ;else elsepart;" (observableEvent)="initTrans == true">
          <button class="btn btn-outline" style="height: 80%; width: 70%" (click)="initNewTransaction()">Initiate New Transaction</button>
          <!-- <button routerLink = "/cashFlow" routerLinkActive ="Active" class="btn btn-outline" style="height: 80%; width: 40%" (click)="ngOnInit()">Cash Flow  </button> -->
	</div>
	 <ng-template #elsepart><div class="col-lg-4"></div></ng-template>

	<div class="col-lg-2" style="text-align: right">
	 <ng-select labelForId="inputDerivedFulfillment" placeholder="Initiated" bindLabel="value" [searchable]="false" [(ngModel)]="inputs" (ngModelChange)='onInputSelected($event)' style="text-align: right; width: 70%">
                <ng-option *ngFor="let offerinputderived of OfferingInDerived" [value]="offerinputderived.title">{{offerinputderived.value}}</ng-option></ng-select>

	</div>
	<!--<div>
		<span>Input:{{inputs}}</span>
	</div>-->
</div>

<div >
	<table class="table">
		<thead>
			<tr>

				<th>Rerference ID</th>
				<th>Instructed Amount</th>
				<th>Offering Code</th>
				<th>Decision Cost</th>
                <th>Decision Time</th>
                <th>Maker Details</th>
			</tr>
		</thead>
		<tbody>


			<ng-container *ngIf=!showSearchRecord>
				<tr *ngFor="let fulfilment of listOfValues; let i = index">

					<td>
					 <a (click)="onSubmitfulfilment(fulfilment)" style="color: blue; text-decoration: underline;">{{fulfilment.id_contextual_refid}}</a>

					</td>

					<td>
						<span >&nbsp;{{fulfilment.in_inst_amt}}</span>
						<br><br>
						<span style="font-size: .45rem;">{{fulfilment.in_inst_amt_ccy}}&nbsp;</span>

					</td>
					<td>
						{{fulfilment.offering_code_selected}}

					</td>
					<td>
						{{fulfilment.decision_score_cost}}

					</td>
					<td>
						{{fulfilment.decision_score_time}}

					</td>
					<td>
						<span>&nbsp;{{fulfilment.maker_date  | date:'shortDate'}}</span><br/><br/>
						<span style="font-size: .45rem;">{{fulfilment.maker_id}}&nbsp;</span>
					</td>

				</tr>
			</ng-container>

			<ng-container *ngIf=showSearchRecord>
				<tr *ngFor="let fulfilment of searchObject; let i = index">

					<td>
					 <a (click)="onSubmitfulfilment(fulfilment)">{{fulfilment.id_contextual_refid}}</a>

					</td>

					<td>
						<span >&nbsp;{{fulfilment.in_inst_amt}}</span>
						<br><br>
						<span style="font-size: .45rem;">{{fulfilment.in_inst_amt_ccy}}&nbsp;</span>

					</td>
					<td>
						{{fulfilment.offering_code_selected}}

					</td>
					<td>
						{{fulfilment.decision_score_cost}}

					</td>
					<td>
						{{fulfilment.decision_score_time}}

					</td>
					<td>
						<span>&nbsp;{{fulfilment.maker_date  | date:'shortDate'}}</span><br/><br/>
						<span style="font-size: .45rem;">{{fulfilment.maker_id}}&nbsp;</span>
					</td>
				</tr>
			</ng-container>

		</tbody>
	</table>

</div>
