<header class="header-6">
    <div class="branding" style="width: 10%">
        <img src="../../assets/igtb-logo.png" style="width: 60%">
    </div>
    <div class="header-nav">
        <button (click)="goBack()" style="height: 50%;position: relative; top: 8px; width: 10%" class="btn btn-link">
            <clr-icon shape="caret left" style="width: 100%; height: 100%;"></clr-icon>
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
                <span class="tooltip-content"></span>
            </a>
        </button>
        <button (click)="goForward()" style="height: 50%;position: relative; top: 8px; width: 10%" class="btn btn-link">
            <clr-icon shape="caret right" style="width: 100%; height: 100%;"></clr-icon>
        </button>
    </div>
    <div class="header-actions" style="width: 10%">
        <button class="btn btn-primary" style="height: 50%;position: relative; top: 8px; width: 20%" (click)="logout()">Logout</button>
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
