  <div *ngIf="popupflag">
    <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Note:</h3>
            </div>
            <div class="modal-body" *ngIf="offeringflag === 'N'; else decisionParamsvaldif; ">
                <p>The offering is now not eligible for this payment</p>
            </div>
            <div class="modal-footer">
        
                <button class="btn btn-primary" type="button" (click)="onPopupclick()">Ok</button>
            </div>
             <ng-template #decisionParamsvaldif>
                    <div class="modal-body">
                      <p>{{popmsg}}</p>
                  </div>
            </ng-template>
        </div>
    </div>
</div>
  </div>


<div style="text-align: center">
  <h2>Send money</h2>
</div>
<br>

<div class="container-fluid" style="text-align: right">

          <form class="intellect-form" [formGroup]="cbxProfileForm">

                <div class="form-group row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2" style="text-align: right">
                    <label for="contactName" class="required">Contact Name</label>
                  </div>
                    <div class="col-lg-4">
                        <ng-select class="dropdown bottom-left open" labelForId="contactName" placeholder="Select contact name" [searchable]="false"
                          formControlName="contactName" [(ngModel)]="contactName" style="text-align: left">
                          <ng-option *ngFor="let contactName of this.contactNames" value="contactName.name">
                            {{ contactName.name }}
                            <br>
                            <small style="display: inline;">
                              <div style="width: 50%">
                                {{ contactName.accNo }}
                              </div>
                            </small>
                          </ng-option>
                        </ng-select>
                      </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    <label for="country" class="required">Country</label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <ng-select labelForId="dataType" placeholder="Select Currency" [searchable]="true"
                      formControlName="country" [(ngModel)]="country" style="text-align: left">
                      <ng-option *ngFor="let country of this.countryList" [value]="country"> {{ country.name }} </ng-option>
                    </ng-select>
                  </div>
                  <div class="col-lg-2"></div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    <label for="debtorAccount" class="required">From</label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <ng-select labelForId="dataType" placeholder="Select debit account" [searchable]="false"
                      formControlName="debtorAccount" [(ngModel)]="debtorAccount" style="text-align: left">
                      <ng-option *ngFor="let payFromAcc of this.payFromAccs" value="payFromAcc">
                        <div>

                        </div>
                        <div class="col-lg-2" style="width: 50%">
                          {{ payFromAcc.name }}
                        </div>
                        <div style="width: 100%; display: inline-block;">
                          <small style="text-align: left;width: 50%">
                            {{ payFromAcc.accNo }} :  
                          </small>
                          <small style="text-align: right; width: 50%">
                              {{ payFromAcc.currency }}
                          </small>
                        </div>
                      </ng-option>
                      </ng-select>
                  </div>
                  <div class="col-lg-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                        <label for="amount" class="required">Amount</label>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                      <input type="text" formControlName="amount" [(ngModel)]="amount" id="fieldName"
                      placeholder="Enter amount" maxlength="50" style="width: 100%; height: 100%;">
                    </div>
                    <div class="offset-lg-0.5 col-lg-2 col-md-4 col-sm-12 col-xs-12">
                        <ng-select labelForId="dataType" placeholder="Currency" [searchable]="false"
                          formControlName="currency"  [(ngModel)]="currency" style="text-align: left">
                          <ng-option *ngFor="let currency of this.currencyList" value="currency">{{ currency }}</ng-option>
                        </ng-select>
                    </div>      
                    <div class="col-lg-2"></div>
                </div>
                <div class="form-group row" style="height: 36px">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    <label for="receiveOnDate" class="required">Receive On Date</label>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                    <clr-date-container labelForId="receiveOnDate" style="width: 100%">
                      <input type="date" clrDate formControlName="receiveOnDate" [(ngModel)]="receiveOnDate" id="receiveOnDate" style="width: 100%">
                    </clr-date-container>
                  </div>
                </div>

                <!-- -->


            <!--<div class="form-group row" style="height: 36px">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label for="phone" class="required">Phone No</label>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                        <input type="text" formControlName="phone"  [(ngModel)]="phone" id="fieldName"
                        placeholder="Enter phone number" maxlength="50" style="width: 100%; height: 100%;">   
                    </div>
                  </div>

                  <div class="form-group row" style="height: 36px">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label for="email" class="required">Email</label>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                        <input type="text" formControlName="email"  [(ngModel)]="email" id="fieldName"
                        placeholder="Enter email" maxlength="50" style="width: 100%; height: 100%;">   
                    </div>
                  </div>-->
                  <div class="form-group row" style="height: 36px" *ngFor="let label of fulfilmentfieldsArray; let i = index">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label class="required">{{ label }}</label>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                        <input type="text" formControlName="fulfilmentfield{{ i+1 }}" id="fieldName"
                        placeholder="Enter {{label}}" maxlength="50" style="width: 100%; height: 100%;">   
                    </div>
                  </div>

                <!-- -->
                   <div class="form-group row" style="height: 36px" *ngIf="rejectedComnt !==''">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label class="required">Approver Comments</label>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                       <label class="required" maxlength="50" style="width: 100%; height: 100%;">{{ rejectedComnt }}</label>
                    </div>
                  </div>
                <!-- =======  -->

                <div class="form-group row" *ngIf="userType ==='MAKER';else chekcerpart;" >
                        <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    
                  </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <br>

                      <button #btn1 class="btn btn-primary" style="width: 150px"  id='R' (click) = "closeWindow()">CLOSE</button>
                    </div>
                </div>
                <ng-template #chekcerpart>
                <div class="form-group row">
                    <div class="col-lg-2"></div>
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                    
                  </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: right" *ngIf="offeringflag === 'N'; else elsepart; ">
                      <br>

                      <button #btn1 class="btn btn-primary" style="width: 150px"  id='R' (click) = "rejectTransaction()">REJECT</button>
                    </div>
                    <ng-template #elsepart>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                     <br>
                      <button #btn2 class="btn btn-link" style="width: 150px"  id='A' (click) = "onSubmitSaveData(btn2)" *ngIf="this.txnStatus === 'I'">APPROVE</button>
                      <button #btn3 class="btn btn-primary" style="width: 150px"  id='R' (click) = "rejectTransaction()" *ngIf="this.txnStatus === 'I'">REJECT</button>
                      <button class="btn btn-link" style="width: 150px" (click) = "navigateToCheckerFlow()" *ngIf="this.txnStatus !== 'I'">APPROVE</button>
                    </div> 
                    </ng-template>
                </div>
                  </ng-template>
            </form>
</div>
<div class="modal" *ngIf = "this.rejectTransactionPopup">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
              <h3 class="modal-title">Reject</h3>
          </div>
          <div class="modal-body">
              <textarea placeholder="Enter Reject Reason" [(ngModel)]="rejectComments"></textarea>
          </div>
          <div class="modal-footer">
              <button #btn4 class="btn btn-danger" type="button" id="R" (click) = "onSubmitSaveData(btn4)">Reject</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf = "this.rejectTransactionPopup"></div>

<div class="modal" *ngIf = "this.isRejectSuccessPopupActive">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
              <h3 class="modal-title">Reject Success !!</h3>
          </div>
          <div class="modal-body">
              The transaction has been rejected successfully
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click) = "navigateToCheckerFlow()">OK</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf = "this.isRejectSuccessPopupActive"></div>

<div class="modal" *ngIf = "this.isApproveSuccessPopupActive">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
              <h3 class="modal-title">Approve Success !!</h3>
          </div>
          <div class="modal-body">
              The transaction has been approved successfully.
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click) = "navigateToCheckerFlow()">OK</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf = "this.isApproveSuccessPopupActive"></div>

<div class="modal" *ngIf = "this.isTechnicalErrorActive">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
              <h3 class="modal-title">Technical Error</h3>
          </div>
          <div class="modal-body">
              Technical Error aaya h bhai ruk jaa thoda time.
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click) = "navigateToCheckerFlow()">OK</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf = "this.isTechnicalErrorActive"></div>