  <div style="text-align: center">
    <!-- <br> -->
    <!-- <span class="intellect-icon-big-contact-pay intellect-text-primary"></span> -->
    <h2>Send money</h2>
  </div>
  <br>
  <div class="container-fluid" style="text-align: right">
            <form class="intellect-form" [formGroup]="cbxFulfilmentForm">
                <!-- <section class="form-block"> -->
                  <div class="form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2" style="text-align: right">
                      <label for="contactName" class="required">Contact Name</label>
                    </div>
                      <div class="col-lg-4">
                          <ng-select class="dropdown bottom-left open" labelForId="contactName.name" placeholder="Select contact name" [searchable]="true"
                            formControlName="contactName" style="text-align: left" [(ngModel)]="contactName">
                            <ng-option *ngFor="let contactName of this.contactNames" value="contactName.name">
                              {{ contactName.name }}
                              <br>
                              <small style="display: inline;">
                                <div style="width: 50%">
                                  {{ contactName.accNo }}
                                </div>
                              </small>
                            </ng-option>
                          </ng-select>
                        </div>
                      <div class="col-lg-2"></div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label for="country" class="required">Country</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <ng-select labelForId="dataType" placeholder="Select Country" [searchable]="true"
                        formControlName="country" style="text-align: left" [(ngModel)]="country">
                        <ng-option *ngFor="let country of this.countryList" [value]="country"> {{ country.name }} </ng-option>
                        <!-- <ng-option value="USD">USD</ng-option>
                        <ng-option value="IND">INR</ng-option>
                        <ng-option value="CAD">CAD</ng-option> -->
                      </ng-select>
                    </div>
                    <div class="col-lg-2"></div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label for="debtorAccount" class="required">From</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <ng-select labelForId="dataType" placeholder="Select debit account" [searchable]="true"
                        formControlName="debtorAccount" #debtoraccount style="text-align: left" [(ngModel)]="debtorAccount">
                        <ng-option *ngFor="let payFromAcc of this.payFromAccs" value="payFromAcc.name">
                          <div>
  
                          </div>
                          <div class="col-lg-2" style="width: 50%">
                            {{ payFromAcc.name }}
                          </div>
                          <div style="width: 100%; display: inline-block;">
                            <small style="text-align: left;width: 50%">
                              {{ payFromAcc.accNo }} :  
                            </small>
                            <small style="text-align: right; width: 50%">
                                {{ payFromAcc.currency }}
                            </small>
                          </div>
                        </ng-option>
                        </ng-select>
                    </div>
                    <div class="col-lg-2"></div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                          <label for="amount" class="required">Instruction Amount</label>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                        <input type="text" formControlName="amount" id="fieldName"
                        placeholder="Enter amount" maxlength="50" style="width: 100%; height: 100%;" [(ngModel)]="amount">
                      </div>
                      <div class="offset-lg-0.5 col-lg-2 col-md-4 col-sm-12 col-xs-12">
                          <ng-select labelForId="dataType" placeholder="Currency" [searchable]="true"
                            formControlName="currency" style="text-align: left" [(ngModel)]="currency">
                            <ng-option *ngFor="let currency of this.currencyList" [value]="currency">{{ currency }}</ng-option>
                          </ng-select>
                      </div>      
                      <div class="col-lg-2"></div>
                  </div>
                  <div class="form-group row" *ngIf="showCrossCurrencyDiv">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label for="debitAmount" class="required">Debit Amount</label>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                      <label>
                          {{ debitAmount | number: '2.1-3' }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="showCrossCurrencyDiv">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label for="debitAmountCcy" class="required">Debit Currency</label>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                      <label >
                          {{ debitAmountCcy }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="showCrossCurrencyDiv">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label for="notionalRate" class="required">Notional Rate</label>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                      <label >
                          {{ notionalRate }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group row" style="height: 36px">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      <label for="receiveOnDate" class="required">Date</label>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                      <clr-date-container labelForId="receiveOnDate" style="width: 100%">
                        <input type="date" clrDate formControlName="receiveOnDate" id="receiveOnDate" [(ngModel)]="receiveOnDate" style="width: 100%">
                      </clr-date-container>
                    </div>
                  </div>
 

                  <div class="form-group row" style="height: 36px" *ngFor="let label of fulfilmentfieldsArray; let i = index">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right" >
                        <span *ngIf="label !== 'Remittance Info'"> <label class="required">{{ label }}</label> </span>
                        <!-- <span *ngIf="label == 'Details of Charges' && label !== 'Remittance Info'"> <label class="required">{{ label }}(OUR,SHA, BEN)</label></span> -->
                        <span *ngIf="label == 'Remittance Info'"> <label>{{ label }}</label> </span>
                    </div>
                     
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                        <span *ngIf="label == 'Details of Charges'"> 
                            <input type="text" formControlName="fulfilmentfield{{ i+1 }}" id="fieldName"
                            placeholder="Enter {{label}} (OUR,SHA, BEN)" maxlength="50" style="width: 100%; height: 100%;"> 
                        </span>
  
                        <span *ngIf="label !== 'Details of Charges'"> 
                            <input type="text" formControlName="fulfilmentfield{{ i+1 }}" id="fieldName"
                            placeholder="Enter {{label}}" maxlength="50" style="width: 100%; height: 100%;"> 
                        </span>
                           
                    </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-lg-2"></div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                      
                    </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                        <br>
                        <button class="btn btn-link" style="width: 150px" (click) = "cancelMe()">CANCEL</button>
                        <button class="btn btn-primary" style="width: 150px" (click) = "submitForm()">CONTINUE</button>
                      </div>
                  </div>
                <!-- </section> -->
              </form>
  </div>
  <div class="modal" *ngIf = "this.dataSaveSuccess">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h3 class="modal-title">SUCCESS !!!</h3>
            </div>
            <div class="modal-body">
                <p style="text-align: center;">Your transaction {{ contextualRefId }} of {{ txnAmount }} {{ txnCurrency }} has been sent for approval.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" (click)="routeToLogin()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf = "this.dataSaveSuccess"></div>
<div class="modal" *ngIf = "this.dataSaveFailure">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
              <h3 class="modal-title">FAILED !!!</h3>
          </div>
          <div class="modal-body">
              <p style="text-align: center;">Transaction data was not saved successfully</p>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="routeToLogin()">Ok</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf = "this.dataSaveFailure"></div>

<!-- <div class="modal-backdrop" aria-hidden="true" *ngIf = "this.dataSaveTechError"></div> -->
<div class="modal" *ngIf = "this.dataSaveTechError">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header" style="text-align: center;">
            <h3 class="modal-title">TECHNICAL ERROR !!</h3>
          </div>
          <div class="modal-body">
              <p style="text-align: center;">Technical Error while saving data. Please try again later</p>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="routeToLogin()">Ok</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf = "this.dataSaveTechError"></div>