<div class="main-container">
  <!-- <app-header *ngIf="router.url != '/'"></app-header> -->
  <app-contextual-payments-header></app-contextual-payments-header>
  <div class="content-container" style="padding: 0px">
    <div class="content-area" style="padding: 0px">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
