.split {
    height: 100%;
    position: fixed;
    overflow-x: hidden;
  }

  /* Control the left side */
  .left {
    left: 0;
    width: 35%;
    padding: 0px;
  }

  /* Control the right side */
  .right {
    right: 0;
    width: 65%;
    padding: 0px;
  }
