<div class="split left" style="padding-left: 10px">
    <div style="width: 100%">
        <h4>Username</h4>
    </div>
    <div>
        <!-- [items]=""
            placeholder="No account selected"
            bindLabel=""
            bindValue=""
            (change)=""> -->

            <ng-select style="width: 80%" placeholder="Select UserName" [items]="loginUser" [(ngModel)]="selectedUser" (change)="getUserRole()">
            <!-- <option *ngFor="let loginUser of loginUserPasswordArray" [value]="loginUser"></option>
            {{ selectedUser | json }} -->
            </ng-select>
    </div>
    <h6 *ngIf="this.userRole != ''">Role: {{ userRole | uppercase }}</h6>
    <h6 *ngIf="this.customer_name != ''">Name: {{ customer_name | uppercase }}</h6>
    <h6 *ngIf="this.category_name != ''">Category: {{ category_name | uppercase }}</h6>
    <div style="width: 100%">
        <h4>Password</h4>
    </div>
    <div>
    </div>
    <input type="password" style="width: 80%" [(ngModel)]="passwordEntered">
    <div>
    </div>
    <div *ngIf="showErrorMessage" style="width: 80%">
            <div class="alert alert-danger" role="alert">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="alert-text" *ngIf="!isUserNameValid">
                                The username entered is invalid.
                            </span>
                            <span class="alert-text" *ngIf="!isPasswordValid">
                                The password entered is invalid
                            </span>
                        </div>
                    </div>
                </div>
    </div>
    <div style="padding-top: 1.5cm">
        <button style="width: 30%; margin-right: 10%" class="btn btn-primary" (click)="validatePassword()">Login</button>
        <button style="width: 40%;" class="btn btn-danger">Forgot Password</button>
    </div>
  </div>

  <div class="split right">
    <div class="centered" style="width: 100%; height: 100%;">
      <img src="../../assets/contextual-banking.jpg" style="width: 100%; height: 100%;">
    </div>
  </div>
